<table *ngIf="students && students.length > 0" class="table">
  <thead class="thead-dark">
    <tr>
    <th scope="col">#Estudiante</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Edad</th>
    <th scope="col">Promedio</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let student of students" >
    <td >{{student.idEstudiante}}</td>
    <td>{{student.nombre}}</td>
    <td>{{student.apellidoPaterno+" "+student.apellidoMaterno }}</td>
    <td>{{student.edad}}</td>
    <td [class]="getColors(student.promedio)">{{student.promedio}}</td>
    
   </tr>
    
    
  </tbody>
</table>

<button class="btn btn-primary">Botón de Bootstrap</button>
